<!DOCTYPE html>
<html id="qiita-team-extended-options">
  <head>
    <meta charset="utf-8">
    <title v-text="title"></title>
    <link href="http://www.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/common.css" type="text/css">
  </head>
  <body>
    <div class="opt-container">
      <legend v-text="title"></legend>
      <form class="form-controls">
        <div class="control-group">
          <label for="token" class="control-label">Qiita Team Host</label>
          <div class="controls">
            <input name="host" type="text" v-model="host" placeholder="ex. xxx.qiita.com">
          </div>
        </div>
        <div class="control-group">
          <label for="token" class="control-label">Qiita API Token</label>
          <div class="controls">
            <input name="token" type="text" v-model="token" placeholder="ex. [0-9a-f]{40}">
          </div>
        </div>
        <div class="control-group">
          <label for="token" class="control-label">Mandrill API Key</label>
          <div class="controls">
            <input name="apikey" type="text" v-model="apikey" placeholder="ex. [0-9A-Za-z]{22}">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Your Email</label>
          <div class="controls">
            <input name="your_email" type="text" v-model="your_email" placeholder="ex. me@example.com">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Team Email</label>
          <div class="controls">
            <input name="team_email" type="text" v-model="team_email" placeholder="ex. all@example.com">
          </div>
        </div>
        <hr>
        <div class="control-group">
          <div class="save-command">
            <div class="custom-btn save-btn" v-on="click: save(this)">Save</div>
            <div class="save-massage" v-text="message"></div>
          </div>
        </div>
      </form>
    </div>
    <script src="./js/options_bundle.js"></script>
  </body>
</html>